body {
    background-image: url(../img/fond.jpg);
    color:white;
    margin:0;
}

.in {
    background-color:black;
    padding-left:2%;
    padding-right:2%;
}

.header {
    background-color: black;
    border-bottom: solid white 1px;
    padding-top:5px;
}

.header .in {
    width: 90%;
    margin-left: 5%;
}

.header .in img {
    width:20%;
    padding-right:35%;
}

.header .in a {
    text-align:right;
    text-decoration: none;
    color:whitesmoke;
    line-height: 50px;
    width:50px;
    height:50px;
}

.header div li {
    display:table-cell;
    width:50%;
    height:auto;
}

.header a:hover {
    background-color:grey;
}

.header .in div {
    display:table-cell;
    width:50%;
}

.contain .in {
    width:90%;
    margin-left:5%;
    text-align:justify;
}

.banner {
    width:100%;
}

.contain .in .jeux div {
    display:table-cell;
    width:20%;
    padding-right:4%;
    text-align:center;
}

.jeux img {
    display:block;
    width: 50%;
    margin-left:25%;
}

.infos div {
    display:inline-block;
    padding:0;
    margin:0;
}

.infos div:first-child {
    border-right:solid white 1px;
}

.footer {
    border-top:solid white 1px;
    text-align:right;
    margin-top: 5px;
}