img{width:100%;height:auto;}
body {
    background-image:url('../img/logo-iut.jpg');
    background-repeat:no-repeat;
    background-size: 15rem;
    background-position-x: 50%;
    font-size: 100%;
    text-align:justify;
}
p {
    background-image: url('../img/bg.jpg');
}
.bleu{
    overflow:hidden;
}
.blanc {
    background-size: contain;
}
.rouge {
    background-size:cover;
}
.jaune {
    background-size:50px 70px;
}
.vert {
    background-size:100% 100%;
}
h1 {
    font-size: 2.5rem;
    padding-top:7rem;
    text-align:center;
}
tr td:first-child{
    background-color:lightgrey;
}
td {
    border:solid black 1px;
    padding:1px;
    margin:0px;
}
table {
    margin-top:10px;
    border:solid black 1px;
}

@media screen and (max-width: 50rem) {
    tr td {
        display:inline-block;
        width:99.5%;
        border:none;
        text-align: center;
        
    }
}

@media screen and (max-width: 26rem) {
  input {
      width : 100%;
  }
}