.rouge{background:red}
.bleu{background:#00f}
img{width:100%;height:auto;}
body {
    background-image:url('http://applicook.fr/iut/images/logo-iut.jpg');
    background-repeat:no-repeat;
    background-size: 15rem;
    background-position-x: 50%;
    font-size: 100%;
    text-align:justify;
}
h1 {
    font-size: 2.5rem;
    padding-top:7rem;
    text-align:center;
}
tr td:first-child{
    background-color:lightgrey;
}
td {
    border:solid black 1px;
    padding:1px;
    margin:0px;
}
table {
    margin-top:10px;
    border:solid black 1px;
}

@media screen and (max-width: 50rem) {
    tr td {
        display:inline-block;
        width:99.5%;
        border:none;
        text-align: center;
        
    }
}

@media screen and (max-width: 26rem) {
  input {
      width : 100%;
  }
}